.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 57px;
}

.features-item {
  background-color: @color-blue;
  color: @color-white;
  margin-bottom: 0;
}

.features-item p {
  margin: 0 20px;
}

.features-item__title {
  padding-top: 39px;
  padding-bottom: 14px;
}

.features-item__subtitle {
  padding-bottom: 14px;
  text-align: center;
}

.features-item__description {
  padding-bottom: 35px;
  text-align: center;
}

.features-item__title,
.features-item-other h3 {
  text-align: center;
  margin: 0;
}

.features-item-other h3 {
  color: @color-black;
  padding-bottom: 14px;
}

.features-item-other {
  background-color: @color-grey;
  color: @color-hover-dark;
}

.features-item-other__solid {
  border-bottom: 1px solid @color-solid-grey;
  padding-bottom: 25px;
}

.features-item__img {
  display: block;
}
