.features__list {
  padding: 0;
  list-style: none;
  margin: 0 0 57px;
}

.features__box {
  color: @color-white;
  background-color: @color-blue;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  min-width: 320px;
  list-style: none;
}

.features__box:first-child .features__box--other {
  padding-top: 51px;

  &:nth-last-child(-n+3) {
    background-color: @color-grey;
    padding-left: 21px;
    padding-right: 21px;
  }

  &:not(:nth-last-child(1)) {
    border-bottom: 1px solid @color-solid-grey;
  }
}

@media (min-width: @tablet-width) {
  .features {
    display: grid;
    text-align: center;
    grid-template-columns: 100%;
    justify-content: center;
  }

  .features__box {
    display: inline-block;
    min-width: 256px;
    box-sizing: border-box;
  }

  .features__item {
    &:nth-last-child(-n+3):not(:nth-last-child(1)) {
      border-bottom: none;
    }

    &:not(:nth-last-child(-n+3)) {
      display: flex;
      grid-column-start: 1;
      grid-column-end: -1;
    }

    &:nth-child(3) {
      flex-direction: row-reverse;
    }
  }
}

.features__item-title {
  margin: 0;
  padding: 39px 0 14px;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    margin: 0 20px;
    font-size: 21px;
  }
}

.features__item-subtitle {
  text-align: center;
  font-size: inherit;
  line-height: 21px;
  margin: 10px 0 17px;

  @media (min-width: @tablet-width) {
    margin: 0 20px;
    font-size: 21px;
  }
}

.features__item-description {
  padding-bottom: 35px;
  text-align: center;
  line-height: 21px;
  margin: 0;
}

.features__item-picture {
  display: block;
  height: 100%;
}

.features__item-pic {
  object-fit: cover;
  width: 100%;
}
