.intro {
  display: block;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  background: url("../img/back-mobile.jpg") no-repeat;
  background-size: cover;
  width: auto;
  height: 389px;
}

.intro__text {
  margin-top: 90px;
  margin-left: 20px;
}

.intro__triangle {
  position: relative;
  top: 22px;
  border: none;
}
