.intro {
  display: block;
  margin: 0 0 32px;
  padding: 0;
  background: url("../img/back-mobile.jpg") no-repeat;
  background-size: cover;
  width: auto;
}

.intro-form {
  background: url("../img/back-desktop.jpg") no-repeat;
  margin-bottom: 36px;
  width: 320px;
  height: 214px;
}

.intro__text {
  margin-top: 90px;
  margin-left: 20px;
}

.intro__triangle {
  position: relative;
  top: 6px;
  border: none;
}

.intro__text-form {
  position: absolute;
  left: 25px;
  top: 108px;
}

.intro__triangle-form {
  position: absolute;
  top: 213px;
  margin-bottom: 36px;
}
