.preview {
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  max-width: 285px;
  margin: 0 20px 11px 20px;
}

.preview__slogan {
  max-width: 260px;
  margin: 0 0 32px 25px;
}

.preview__intro {
  color: @color-hover-dark;
}

.preview-form {
  margin: 0;
  padding: 0;
  min-width: 320px;
  padding-bottom: 16px;
  border-bottom: 1px solid @color-hover-light-grey;
}

.preview-slogan-form {
  margin-bottom: 29px;
}

.preview-intro-form {
  line-height: 24px;
  min-width: 288px;
}
