.preview {
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  max-width: 285px;
  margin: 0 20px 11px 20px;
}

.preview__slogan {
  margin-bottom: 32px;
}

.preview__intro {
  color: @color-hover-dark;
}
