.preview {
  margin: 0;
  padding: 32px 25px 11px 25px;
  position: relative;
  text-align: center;
  min-height: 217px;

  &::after {
    content: "";
    width: 320px;
    position: absolute;
    bottom: -16px;
    left: 0;
  }
}


@media (min-width: @tablet-width) {
  .preview {
    margin: 0 124px;
    max-width: 520px;
  }

  &::after {
    content: none;
  }
}

.preview__slogan {
  max-width: 260px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.preview__intro {
  line-height: 26px;
  color: @color-hover-dark;
}

.preview__triangle {
  position: relative;
  top: -71px;
  left: -19px;
}

.preview-form {
  margin: 0;
  min-width: 320px;
  padding: 0 0 16px;
  border-bottom: 1px solid @color-hover-light-grey;
}

.preview-slogan-form {
  margin-bottom: 29px;
}

.preview-intro-form {
  line-height: 24px;
  min-width: 288px;
}
