//Общее

.review {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
}

.review__textarea::placeholder,
.review__input::placeholder {
  font-weight: 700;
  color: @color-black;
  background-color: @color-light-grey;
}

.review fieldset {
  border: none;
  border-bottom: 1px solid @color-hover-light-grey;
  max-width: 280px;
  padding: 0;
  margin: 0 20px;
}

.review p {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  column-gap: 15px;
  text-align: start;
  white-space: nowrap;
  margin-bottom: 5px;
  color: @color-hover-dark;
  max-width: 230px;
}

.review legend {
  text-align: center;
  min-width: 280px;
  padding-top: 20px;
}

.review__item ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.review__item li {
  text-transform: capitalize;
}

.review input {
  background-color: @color-light-grey;
  color: @color-black;
  border: none;
  height: 58px;
  font-size: 18px;
}

//Контактная информация

.review__item-form {
  margin-bottom: 14px;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.review__item-form label {
  margin-bottom: 8px;
}

.review__item-form input {
  background-color: @color-light-grey;
  width: 222px;
  padding: 18px 0 14px 22px;
}

.review__item-form span {
  height: 58px;
  width: 58px;
  background-color: @color-icon-grey;
}

//Ваше общее впечатление

.review__item--general input {
  width: 48px;
  height: 48px;
  border-radius: 5px;
}

//Посещенные достопримечательности

.review__item--sights label {
  text-align: center;
  margin-bottom: 54px;
}

.review__item--sights input {
  width: 48px;
  height: 48px;
  background-color: @color-light-grey;
  color: @color-black;
}

//Опишите свои эмоции

.review__item h3 {
  text-align: center;
  margin-bottom: 15px;
}

.review__textarea {
  height: 160px;
  width: 100%;
  margin: 0 0 51px;
  padding: 13px 0 0 21px;
  background-color: @color-light-grey;
  color: @color-black;
  box-sizing: border-box;
  border: none;
  resize: none;
  max-width: 280px;
}

.review__item--emotion {
  margin: 0 20px;
}

.review__emotion-button {
  margin: 0 20px 77px 20px;
  width: 280px;
}
